::-webkit-scrollbar {
	display: none;
	overflow: hidden;
  }

@font-face {
    font-family: 'Chillax-Variable';
    src: url('/assets/fonts/Chillax-Variable.woff2') format('woff2'),
         url('/assets/fonts/Chillax-Variable.woff') format('woff'),
         url('/assets/fonts/Chillax-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }

body{
    margin: auto;
    background-color: #383942;
    font-family: 'Chillax-Variable';
    color: white;
}

/*NAVIGATION*/

.headergap{
    margin-top: 100px;
}

#activepage{
    color: white;
}

.navheader{
    button{display: none;}
    img{width: 100px;}
    margin-left: 15px;
    background-color: #383942;
    z-index: 100;
}

.desktopnav{
    top: 0;
    z-index: 10000;
    width: 100%;
    background-color: #383942;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.main-nav{
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.main-nav ul{
    gap: 30px;
    list-style: none;
    display: flex;
    text-align: center;
}

.main-nav a{
    text-align: center;
    font-size: 2.4em;
    text-decoration: none;
    color: #23242E;
    transition: 0.275s;
}

.main-nav a:hover{
    color: white;
}

/*INTRO*/
  .intro{
    text-align: center;
    background-color: #303030;
    margin: 0px;
  }

  .intrologo{
    width: 750px;
    filter: drop-shadow(black 1px 1px 15px);
  }

  .intro h1{
    color: white;
    font-weight: 500;
    margin-top: 0px;
    font-size: 48px;
  }

  .breakmobile{
    display: none;
  }
/*SERVICES CARDS*/
  .services{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    background-color: #303030;
  }

  .card{
    width: 25%;
    padding: 25px;
    background-color: #3839426c;
    border: solid #383942 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1{font-weight: 500;}
    margin-bottom: 50px;
    margin-top: 50px;
}



  .fa-solid{
    font-size: 50px;
  }

  .learnmore{
    width: 100%;
    border-radius: 5px;
    border: solid #FFFFFF 2px ;
    background: none;
    transition: all 0.275s;
  }

  .learnmore a{
    text-decoration: none;
    color: white;
    font-family: 'Chillax-Variable';
    font-size: 24px;
    font-weight: 300;
  }

  .learnmore:hover{
    background-color: #303030;
    cursor: pointer;
  }
/*ABOUT US*/
.aboutus{
    color: white;
    text-align: center;
    h1{ margin: 5px; font-size: 48px; font-weight: 500;}
    p{ margin: 5px; font-size: 24px; font-weight: 300;}
    margin-bottom: 50px;
}

.aboutuslogo{
    margin: 0;
    width: 125px;
    filter: drop-shadow(black 1px 1px 5px);
}

/*HIRING*/

.hiring{
    text-align: center;
    color: white;
    h1{ margin: 5px; font-size: 48px; font-weight: 500;}
    p{ margin: 5px; font-size: 24px; font-weight: 300;}
    a{ color: white ;}
}

.hiring ul{
    list-style: inside;
    list-style-type: circle;
    font-size: 24px; 
    font-weight: 300;
    text-align: left;
}

.learnmorecareers{
    width: 25%;
    border-radius: 5px;
    border: solid #FFFFFF 2px ;
    background: none;
    transition: all 0.275s;
  }

  .learnmorecareers a{
    text-decoration: none;
    color: white;
    font-family: 'Chillax-Variable';
    font-size: 24px;
    font-weight: 300;
  }

  .learnmorecareers:hover{
    background-color: #303030;
    cursor: pointer;
  }

/*Portfolio*/

.outwork{
  text-align: center;
}

.webdev{
    display: flex;
    justify-content: space-around;
}

.webdevcard{
    width: 350px;
    text-align: center;
}

.webdevcard a{
color: white;
}

.site{
    width: 325px;
    height: 600px;
    border: solid #303030;
}


/*Contact us*/

.contactbody{
  margin-top: 10%;
}

.contactform{
  margin: auto;
  text-align: center;
  width: 60%;
  background-color: #303030;
  padding: 2%;
  border-radius: 15px;
  border: none;
}

.form-label{
  font-size: 30px;
  text-shadow: black 1px 1px 1px;
  color: white;
  font-weight: 400;
}

.form-control{
  outline: 0;
  width: 80%;
  height: 50px;
  background: none;
  border: solid #23242E 3px;
  border-style: none none solid none;
  font-size: 20px;
  color: white;
  resize: none;
  font-family: 'Chillax-Variable';
  font-weight: 300;
}

.form-control:focus{
  outline: 0;
  border: solid white 3px;
  border-style: none none solid none;
}

.btn-primary{
  margin-top: 5%;
  width: 50%;
  font-size: 34px;
  color: white;
  text-shadow: black 1px 1px 3px;
  transition: ease-in-out 0.275s;
  font-family: 'Chillax-Variable';
  border-radius: 5px;
  border: solid #FFFFFF 2px ;
  background: none;
  transition: all 0.275s;
}

.btn-primary:hover{
  background-color: #383942;
  cursor: pointer;
}

/*Footer*/
footer{
  background-color: #303030;
  margin-bottom: 0px;
  text-align: center;
  color: white;
  h1{font-weight: 300; font-size: 22px; margin-bottom: 0px;}
  p{font-weight: 200; margin-top: 0px; margin-bottom: 0px;}
  img{width: 25px; margin: 0px;}
}

/*MOBILE*/  
@media only screen and (max-width: 600px){
/*NAVIGATION*/   

body{
  width: 296px;
}


.headergap{
    margin-top: 55px;
}

.navheader{
    button {display: block;}
    margin: auto;
    width: 100%;
    img{width: 20%;}
	  position: fixed;
    background-color: #383942;
    z-index: 999999;
    display: flex;
    justify-content: space-between;   
}

.main-nav {
	z-index: 9999999999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #383942;
	  opacity: 0;
    z-index: -1;
    visibility: hidden;
    transform: translateY(-1000px);
    transition: ease-in-out 0.175s;
}

.main-nav.is-open {
	opacity: 1;
    z-index: 100;
    visibility: visible;
    text-align: center;
    width: 100%;
    transform: translateY(0px);
}

.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: center;
    opacity: 0;
    transform: translateY(-250px);
    transition: ease-in-out 0.175s;
}

.main-nav.is-open li {
    opacity: 1;
    transform: translateY(0);
}
.main-nav li:nth-child(1) {
    transition-delay: 200ms;
}
.main-nav li:nth-child(2) {
    transition-delay: 300ms;
}
.main-nav li:nth-child(3) {
    transition-delay: 400ms;
}
.main-nav li:nth-child(4) {
    transition-delay: 500ms;
}

.main-nav ul,
.main-nav li {
	list-style: none;
	padding: 0;
}
.main-nav a {
	display: block;
	padding: 12px 0;
	color: #23242E;
	font-size: 2.4em;
	text-decoration: none;    
}

.main-nav a:hover {
	color: white;
}

.open-main-nav {
	z-index: 1000;
	background: none;
	border: 0;
    margin-top: 25px;
    margin-right: 5px;
}

.open-main-nav:hover{
    cursor: pointer;
}

.open-main-nav:focus {
	outline: none;
}
.burger {
  position: relative;
	display: block;
	width: 28px;
	height: 4px;
	margin: 0 auto;
	background: #cfcfcf;
	transition: all .275s;
}

#burger{
    width: 40px;
    height: 40px;
	filter: drop-shadow(black 1px 1px 2px);
}

.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
	background: #cfcfcf;
	transition: all .275s;
}

.burger:after {
	transform: translateY(-12px);
}

.burger:before {
	transform: translateY(-16px);
}

.is-open .burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}

/*INTRO*/
      .intrologo{
        width: 250px;
        filter: drop-shadow(black 0px 1px 15px);
      }

      .intro h1{
        color: white;
        font-weight: 300;
        margin-top: 0px;
        font-size: 24px;
      }

      .breakmobile{
        display: block;
      }
      .unbreakmobile{
        display: none;
      }
/*SERVICES CARDS*/
      .services{
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        color: white;
        gap: 25px;
      }
    
      .card{
        margin: auto;
        width: 75%;
      }

/*ABOUT US*/
.aboutus{
    color: white;
    text-align: center;
    h1{ margin: 5px; font-size: 36px;}
    p{ margin: 5px; font-size: 18px;}
    img{width: 75px;}
}
/*CAREERS*/
.learnmorecareers{
    width: 50%;
}


/*OURWORK*/

.outwork{
  margin: auto;
  width: 90%;
}

.webdev{
  display: block;
  margin: auto;
  iframe{display: none;}
}

.webdevcard{
  margin: auto;
  width: 90%;
}

/*Contact us*/

.contactbody{
  margin-top: 30%;
}

.contactform{
  margin: auto;
  text-align: center;
  width: 90%;
  background-color: #303030;
  padding: 2%;
  border-radius: 15px;
  border: none;
}

.form-label{
  font-size: 22px;
  text-shadow: black 1px 1px 1px;
  color: white;
  font-weight: 400;
}

.form-control{
  outline: 0;
  width: 80%;
  height: 75px;
  background: none;
  border: solid #23242E 3px;
  border-style: none none solid none;
  font-size: 20px;
  color: white;
  resize: none;
  font-family: 'Chillax-Variable';
  font-weight: 300;
}

.form-control:focus{
  outline: 0;
  border: solid white 3px;
  border-style: none none solid none;
}

.btn-primary{
  margin-top: 5%;
  width: 70%;
  font-size: 24px;
  color: white;
  text-shadow: black 1px 1px 3px;
  transition: ease-in-out 0.275s;
  font-family: 'Chillax-Variable';
  border-radius: 5px;
  border: solid #FFFFFF 2px ;
  background: none;
  transition: all 0.275s;
}

.btn-primary:hover{
  background-color: #383942;
  cursor: pointer;
}
}